[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl_error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log"},           % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

% Available levels: debug, info, notice, warning, error, critical, alert, emergency
    {lager, [
        {error_logger_hwm, 100},
        {handlers, [
            {lager_console_backend, [
                info, {
                    lager_default_formatter,
                    ["[", date, " ", time, "] [", color, severity, "\e[0m", ", from ", module, ":", function, ":", pid, "] ",
                     message, "\n"]
                }
            ]},
            {lager_file_backend, [
                {file, "log/lager_error.log"},
                {level, error},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "log/lager_notice.log"},
                {level, notice},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]}
        ]},
        {colored, true}
    ]},
    {econfd, [
        {handlers, [
            %%{HandlerName (UNIQUE), file | http | s3, CallbackModule, [{interval_ms, 10000}, {init_delay, 5000}, {Specific, Options}]},
            {file_example_name, file, file_example_handler, [
                {interval_ms, 10000},
                {init_delay, 5000},
                {file_path, "FILE_PATH"}
            ]},
            {http_example_name, http, http_example_handler, [
                {interval_ms, 5000},
                {url, "URL_HTTP_TO_GET"}
            ]},
            {s3_example_name, s3, s3_example_handler, [
                {interval_ms, 5000},
                {s3_bucket, "S3_BUCKET_NAME"},
                {s3_key, "S3_OBJECT_KEY"},
                {aws_secret_key, "AWS_SECRET_KEY"},
                {aws_access_key, "AWS_ACCESS_KEY"}
            ]}
        ]}
    ]}
].
