[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl_error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log"},           % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

% Available levels: debug, info, notice, warning, error, critical, alert, emergency
    {lager, [
        {error_logger_hwm, 100},
        {handlers, [
            {lager_console_backend, [
                info, {
                    lager_default_formatter,
                    ["[", date, " ", time, "] [", color, severity, "\e[0m", ", from ", module, ":", function, ":", pid, "] ",
                     message, "\n"]
                }
            ]},
            {lager_file_backend, [
                {file, "log/lager_error.log"},
                {level, error},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]},
            {lager_file_backend, [
                {file, "log/lager_notice.log"},
                {level, notice},
                {size, 104857600},
                {date, "$D0"},
                {count, 10}
            ]}
        ]},
        {colored, true}
    ]},
    {econfd, [
        {handlers, [
            %% the configurations may be added programmatically
        ]}
    ]}
]   .
